@charset "utf-8";
/* CSS Document */
body {
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	background-repeat:repeat-x;
}
.header {
	height:120px;
	border-bottom:#000;
	background-color:#96F;
}
#logo
{
	 height:120px;
	 width:120px;
	 background-color:#9CF;
	 float:left;
}
#ctitle
{
	height:120px;
	width:650px;
	float:center;
}
h2
{
	text-align:center;
}
.menu {
	height:35px;
	background-repeat:repeat-x;
	background-color:#F9F;
}
.content
{
	height:350px;
	background-color:#F9C;
}
.footer{
	height:35px;
	background-repeat::repeat-x;
	background-color:#939;
}

